* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    background: #f4f8fb;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background: #2563EB;
    color: white;
    padding: 20px;
}
.logo {
    width: 90px;
    display: block;
    margin: 0 auto 15px;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.sidebar ul li:hover {
    background: #1D4ED8;
}
.main-content {
    flex: 1;
    padding: 40px;
}

.main-content h1 {
    color: #2563EB;
    margin-bottom: 10px;
}

.main-content p {
    color: #666;
    margin-bottom: 30px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}
.card h3 {
    color: #2563EB;
    margin-bottom: 10px;
}
.card p {
    color: #555;
}