/*sixth lesson*/

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

#intro {
    grid-area: intro;
}

#main-section {
    grid-area: main-section;
}

#bestsellers {
    grid-area: bestsellers;
}

footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: 
    "header header header header intro"
    "nav nav nav nav intro"
    "main-section main-section main-section main-section bestsellers"
    "footer footer footer footer footer";
}